.sidebar {
    background-color: #f8f9fa;
    height: 75vh;
    width: 3;
}

@media screen and (min-width: 576px) {
    .root-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 300px;
    }
}

.nav-link{
    padding: 0.75rem 0.75rem;
}

.nav-link-active {
    color:#FFA500;
    padding: 0.75rem 0.75rem;
}